# Création de la base de données

In [59]:
import sqlite3

In [60]:
#Création d'un database nonexistant
connection = sqlite3.connect('database.db')

In [61]:
#créer un curseur qui est essentiel pour interagir avec la base de données (SELECT, INSERT, UPDATE et DELETE...)
c =connection.cursor()

In [62]:
#Créer une base de donnée

# Supprimer la table si elle existe
c.execute(f"DROP TABLE IF EXISTS contacte")

#création nouvelle table
c.execute("CREATE TABLE contacte (first_name text, last_name text,  age INTEGER, email text)")

# Commande de base

## Ajouter un contact

In [63]:
c.execute("INSERT INTO contacte(first_name, last_name, age, email) VALUES ('Florian', 'bino', '13', 'florian@outlook.com')")

In [65]:
#ajouter 4 autres contactes
c.execute("INSERT INTO contacte VALUES ('bob', 'jean', '30', 'bob@outlook.com')")
c.execute("INSERT INTO contacte VALUES ('eve', 'etheve', '40', 'eve@outlook.com')")
c.execute("INSERT INTO contacte VALUES ('john', 'etheve', '23', 'john@outlook.com')")
c.execute("INSERT INTO contacte VALUES ('lary', 'jean', '23', 'lary@outlook.com')")

In [66]:
#connection.commit()

In [67]:
rows = c.execute("SELECT * FROM contacte").fetchall()
print(rows)

[('Florian', 'bino', 13, 'florian@outlook.com'), ('bob', 'jean', 30, 'bob@outlook.com'), ('eve', 'etheve', 40, 'eve@outlook.com'), ('john', 'etheve', 23, 'john@outlook.com'), ('lary', 'jean', 23, 'lary@outlook.com')]

## Supprimer un contact

In [68]:
#Supprimer les lignes où âge =40

In [69]:
c.execute("DELETE FROM contacte WHERE age = 40")

In [70]:
rows = c.execute("SELECT * FROM contacte").fetchall()
print(rows)

[('Florian', 'bino', 13, 'florian@outlook.com'), ('bob', 'jean', 30, 'bob@outlook.com'), ('john', 'etheve', 23, 'john@outlook.com'), ('lary', 'jean', 23, 'lary@outlook.com')]

## Modifier les données

In [71]:
c.execute("UPDATE contacte SET age = 31 WHERE first_name = 'bob'")

In [72]:
rows = c.execute("SELECT * FROM contacte").fetchall()
print(rows)

[('Florian', 'bino', 13, 'florian@outlook.com'), ('bob', 'jean', 31, 'bob@outlook.com'), ('john', 'etheve', 23, 'john@outlook.com'), ('lary', 'jean', 23, 'lary@outlook.com')]

## Selectionner une colonne | plusieurs colonnes

In [75]:
colonne = c.execute("SELECT first_name FROM contacte").fetchall()
colonnes = c.execute("SELECT first_name, last_name FROM contacte").fetchall()

In [76]:
print(colonne)
print(colonnes)

[('Florian',), ('bob',), ('john',), ('lary',)]
[('Florian', 'bino'), ('bob', 'jean'), ('john', 'etheve'), ('lary', 'jean')]

## Filtre (where)

In [78]:
filtre = c.execute("SELECT * FROM contacte WHERE last_name ='jean'").fetchall()
print(filtre)

[('bob', 'jean', 29, 'bob@outlook.com'), ('lary', 'jean', 23, 'lary@outlook.com')]

## AND | OR

In [79]:
#AND
filtre_and= c.execute("SELECT age FROM contacte WHERE last_name ='jean'").fetchall()
filtre_and

[(29,), (23,)]

In [81]:
#OR
filtre_or= c.execute("SELECT age FROM contacte WHERE last_name ='jean' OR last_name ='bino'").fetchall()
filtre_or

[(13,), (29,), (23,)]

In [82]:
#AND OR
filtre_and_or= c.execute("SELECT age FROM contacte WHERE last_name ='jean' AND (age=29 OR age=23)").fetchall()
filtre_and_or

[(29,), (23,)]

## Between

In [84]:
#between
filtre_between= c.execute("SELECT * FROM contacte WHERE age BETWEEN 20 AND 40").fetchall()
filtre_between

[('bob', 'jean', 29, 'bob@outlook.com'),
 ('john', 'etheve', 23, 'john@outlook.com'),
 ('lary', 'jean', 23, 'lary@outlook.com')]

In [85]:
#not between
filtre_between_not= c.execute("SELECT * FROM contacte WHERE age NOT BETWEEN 20 AND 40").fetchall()
filtre_between_not

[('Florian', 'bino', 13, 'florian@outlook.com')]

## IN

In [88]:
#IN
filtre_in= c.execute("SELECT * FROM contacte WHERE age IN (13,23)").fetchall()
filtre_in

[('Florian', 'bino', 13, 'florian@outlook.com'),
 ('john', 'etheve', 23, 'john@outlook.com'),
 ('lary', 'jean', 23, 'lary@outlook.com')]

## LIKE

In [90]:
#Like
filtre_like= c.execute("SELECT * FROM contacte WHERE last_name LIKE 'J%'").fetchall()
filtre_like

[('bob', 'jean', 29, 'bob@outlook.com'),
 ('lary', 'jean', 23, 'lary@outlook.com')]

# Fin

In [91]:
#connection.commit() est utilisée pour valider (ou "commettre") ces opérations, signifiant qu'elles doivent être enregistrées de manière permanente dans la base de données
connection.commit()

In [ ]:
#fermer la connection au database
connection.close()